<div class="crm-container">
  <div crm-ui-debug="statusPrefs"></div>

  <form name="myForm" crm-ui-id-scope>

    <div class="help">
      <p>{{ts('Help messages will be displayed here')}}</p>
    </div>
    <div>
      HEADER TEXT
      <button ng-if="(path === '/hushed')" ng-click="navigator.redirect('#/status')">Hide Hushed</button>
      <button ng-if="(path === '/status')" ng-click="navigator.redirect('#/hushed')">Show Hushed</button>
      <button ng-if="(path === '/manage')" ng-click="navigator.redirect('#/status')">Show Statuses</button>
      <button ng-click="navigator.redirect('#/manage')">Manage Preferences</button>
    </div>
    <div id="crm-status-list" ng-repeat="pref in preferences track by pref.name">
      <div crm-ui-accordion="{title: pref.name, collapsed: false }">
        <div class="crm-block">
          <div class="crm-group">
            <div class="actions">
              <div class="status-snooze-options">
                <div crm-snooze-options></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
