<div class="snooze-options-form">

<div class="crm-block" ng-form="snoozeOptions" crm-ui-id-scope>
  <!-- <div class="crm-group">
    <div crm-ui-field="{name: 'snoozeOptions.severity', title: ts('Severity Threshold')}">
      <div >
        <select
          crm-ui-id="snoozeOptions.severity"
          name="severity"
          crm-ui-select="{width: 'auto', dropdownAutoWidth : true, allowClear: true, placeholder: ts('Severity')}"
          ng-model="status.snoozeOptions.severity"
          >
          <option ng-repeat="severity in severityList">{{severity}}</option>
        </select>
      </div>
    </div> -->
    <div crm-ui-field="{name: 'snoozeOptions.until', title: ts('Suppress Until')}">
      <div >
        <input name="until" crm-ui-datepicker="{dateFormat: 'yy/mm/d', time: false}" ng-model="status.snoozeOptions.until" />
      </div>
    </div>
    <a crm-icon="disk" ng-click="snooze(status)" class="crm-hover-button" title="{{ts('Save As')}}"></a>
  </div>
</div>

</div>
