<div class="crm-container">
  <div crm-ui-debug="statuses"></div>

  <form name="myForm" crm-ui-id-scope>

    <div class="help">
      <p>{{ts('Help messages will be displayed here')}}</p>
    </div>

    <div>
      HEADER TEXT
    </div>
    <div id="crm-status-list" ng-repeat="status in statuses.values track by status.name">
      <div crm-ui-accordion="{title: status.displayTitle, collapsed: false }" class="crm-severity-{{status.severity}}">
        <div class="crm-block">
          <div class="crm-group">
            {{status.title}}<br />
            <div class="crm-status-message-body" ng-bind-html="status.message | trusted"></div>
            <div class="actions">
              <a ng-click="snooze" class="crm-hover-button" crm-icon="clock" title="{{ts('Snooze')}}"></a>
              <a ng-click=hush" class="crm-hover-button" crm-icon="cancel" title="{{ts('Hush')}}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>

</div>
