<div class="crm-container">
  <div crm-ui-debug="myContact"></div>

  <form name="myForm" crm-ui-id-scope>

    <div class="help">
      <p>{{ts('Help messages will be displayed here')}}</p>
    </div>

    <div crm-ui-accordion="{title: ts('Greeting')}">
      <p ng-show="myContact.first_name">{{ ts('Hello, %1.', {1: myContact.first_name}) }}</p>

      <p ng-show="!myContact.first_name">{{ ts('Hello, stranger.') }}</p>
    </div>

    <div id="crm-status-list" ng-repeat="(status_name, status) in statuses">
      <div crm-ui-accordion="{title: status_name, collapsed: true}" >
        {{status.title}}<br />
        {{status.desc}}
    </div>
    </div>
    <div crm-ui-accordion="{title: ts('About Me')}" >
      <div class="crm-block">
        <div class="crm-group">
          <div crm-ui-field="{name: 'myForm.first_name', title: ts('Name'), help: hs('full_name')}">
            <input
              crm-ui-accordion="{}"
              crm-ui-id="myForm.first_name"
              name="first_name"
              ng-model="myContact.first_name"
              class="crm-form-text"
              placeholder="{{ts('First')}}"
              />
            <input
              crm-ui-id="myForm.last_name"
              name="last_name"
              ng-model="myContact.last_name"
              class="crm-form-text"
              placeholder="{{ts('Last')}}"
              />
          </div>
        </div>
      </div>

      <div>
        <button ng-click="save()">{{ts('Save')}}</button>
      </div>
    </div>

  </form>

</div>
